---
#n Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'reset';

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: {
    image: url('/images/gurt.jpg');
    position: 50% 50%;
    repeat: no-repeat;
    size: cover;
  }
  overflow: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.gurt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  text-align: center;

  span {
    font-size: 1.33em;
    line-height: 1.67em;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 1.67em;

  a {
    margin-right: 0.67em;
  }
}

